.contact{
    background-color: lightcyan;
    height: 40rem;

    &__links {
        margin-left: 25%;
    }

    &__title{
        color: black;
        margin-top: 0.5rem;
    }
    &__titles{
        color:black;
        font-weight: bold;
        font-size: 1.5rem;
    }
}