.header2{
    height:10rem;
    display: flex;
    justify-content: space-between;
    background-color:teal;
    color: white;

    &__left{
        color: whitesmoke;
        

        &__title{
            color: whitesmoke;
            font-weight: bold;
            font-size: 3rem;
        }
    }

    &__right{
        display: flex;
        justify-content: space-between;
        color: whitesmoke;
        margin-right: 1rem;
        

        &__items{
            color:whitesmoke;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    
}